
.cico__wrapper {
    &.cico__style-landing {
        .cico__dummy-wrapper {
            width: 100%;
            border-bottom: 1px solid #fafafa;
            align-items: flex-end;
            padding-bottom: 3px;
            color: var(--white);

            .cico__dummy-inputs-wrapper {
                overflow: auto;
                display: flex;
                flex-wrap: nowrap;
                margin-bottom: -1rem;
                padding-bottom: 1rem;
                align-items: flex-end;
                width:100%;
            }

            .cico__dummy-wrapper-input-wrapper {
                &.departure {
                    .cico-input {
                        padding-right: 20px;
                    }
                }

                .cico__dummy-wrapper-arrival,
                .cico__dummy-wrapper-departure {
                    display: block;
                }

                .cico__dummy-wrapper-arrival {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .cico__input {
                    line-height: 1;
                    margin-bottom: 1px;
                    padding-left: 1px;
                    padding-right: 1px;
                    margin-top: 10px;

                    &.focused {
                        background-color: rgba(125, 208, 255, 0.53);
                    }
                }
            }

            > span,
            .cico__input {
                font-size: 1rem;
                line-height: 1;

                @media screen and ($up-to-tablet) {
                    font-size: 16px;
                }
            }

            svg {
                &.arrow-icon {
                    width: 16px;
                    margin-left: 12px;
                    margin-right: 12px;

                    * {
                        stroke: white;
                    }

                    @media screen and ($up-to-tablet) {
                        width: 16px;
                        margin-left: 4px;
                        margin-right: 4px;
                        margin-bottom: 3px;
                        height: 13px;
                    }
                }

                &.calendar-icon {
                    height: 18px;
                    bottom: 2px;
                    position: relative;
                    margin-right: 12px;

                    * {
                        stroke: #fff;
                    }

                    @media screen and ($up-to-tablet) {
                        width: 17px;
                        bottom: 1px;
                        margin-right: 4px;
                        margin-bottom: 0px;
                    }
                }
            }

            .cico__clear-button {
                width: 25px;
                align-items: flex-end;
                svg {
                    width: 14px;
                    @media screen and ($up-to-tablet) {
                        width: 0.75rem;
                    }

                    * {
                        stroke: white;
                    }
                }
    
                > div {
                    padding-left: 1rem;
                }
            }
        }
    }
}
