.cico__wrapper {
    &.cico__style-search {
        .cico__dummy-wrapper {
            background-color: var(--background-gray);
            border-radius: 5px;
            padding: 10px;
            align-items: center;
            padding-left: 18px;
            padding-right: 18px;

            .cico__input {
                font-size: 1rem;
                text-transform: none;
                
                &.focused {
                    background-color: rgba(125, 208, 255, 0.53);
                }
            }

        }

        .cico__clear-button {
            margin-top: -18px;
            margin-bottom: -18px;

            > div {
                padding-top: 18px;
                padding-left: 4px;
                margin-right: -18px;
                padding-bottom: 18px;

                svg {
                    margin-right: 16px;
                }
            }
        }

        svg {
            &.arrow-icon {
                margin-bottom: 1px;
                margin-left: 6px;
                margin-right: 6px;

                * {
                    stroke: var(--silver-mid);
                }

                @media screen and ($up-to-tablet) {
                    width: 16px;
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }

            &.calendar-icon {
                height: 18px;
                margin-right: 6px;

                @media screen and ($up-to-tablet) {
                    position: relative;
                    bottom: 1px;
                    margin-right: 6px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}