@import './variables';
@import './landing';
@import './search';
@import './mobile';

@mixin focusStyle() {
  &:focus {
    outline: none;
  }
}

@mixin device($device-widths) {
  @media screen and #{$device-widths} {
    @content;
  }
}

/* =============================================================
* BASE STYLES
* ============================================================*/

.#{$prefix} {
  position: absolute;
  color: var(--zambezi-grey);
  border-radius: 10px;
  top: 140%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  background-color: var(--white);
  font-size: 1rem;
  line-height: 0.875em;
  height: 400px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
      &.bottom {
        top: 140%;
      }
    
      &.top {
        bottom: 140%;
        top: unset;
      }
    
      &.left {
        left: 100%;
        margin-left: 2rem;
        bottom: unset;
        top: -160px;
      }
    
      &.right {
        right: 100%;
        margin-right: 2rem;
        bottom: unset;
        top: -160px;
      }
  }

  button {
    background-color: var(--white);

    &.primary {
        color: var(--white);
        background-color: var(--primary-color);
    }
  }

    &__cta-panel {
        order: -1;
        text-align: center;
        border-bottom: 1px solid var(--silver-mid);
    }
    &__cta-info {
        font-size: 15px;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__cta-panel-title {
        font-size: 18px;
        margin-right: 1rem;
        margin-bottom: 0.75rem;
        font-weight: 500;
        color: var(--eerie-black);

        &.desktop {
            @media screen and ($up-to-tablet) {
                display: none;
            }

            display: block;
        }

        &.mobile {
            @media screen and ($desktop) {
                display: none;
            }

            display: block;
        }
    }
    &__checkin, &__checkout {
        text-transform: capitalize;
    }
    &__nights-info {
        margin-bottom: 1rem;
        font-size: 15px;
        font-weight: 400;
    }
    &__nights {
        font-size: 0.875rem;
    }
    &__travel-dates {
        white-space: nowrap;
        font-size: 0.75rem;
    }
    &__extra-nights {
        color: var(--primary-color);
    }
    &__warning-container {
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
            font-size: 0.75rem;
            text-align: left;
            line-height: 1;
            margin-top: 0.5rem;
        }
    }

    &__nights-warning {
        color: #E5605F;
        transform: rotate(180deg);
        margin-right: 0.5rem;
        font-size: 1.2rem;
        line-height: 1.25rem;
    }

  &--right {
    right: 0;
  }

  .cico__square-wrapper {
    display: grid;
    flex-grow: 1;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  & .cico__square {
    display: grid;
    align-items: center;
    position: relative;
  }

  button.next--mobile {
    border: 1px solid var(--light-gray);
    float: none;
    height: 3.125em;
    width: 100%;
    position: relative;
    appearance: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    outline: none;
    box-shadow: 0 15px 30px 10px rgb(0 0 0 / 10%);
    background: var(--white);

    &:after {
      background: none;
      //background: transparent url('../images/ic-arrow-right-green.regular.svg') no-repeat center / 8px;
      transform: rotate(90deg);
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: -50%;
      left: -50%;
    }
  }

  &--closed {
    box-shadow: none;
    max-height: 0;
  }

  &--open {
    height: 100vh;
    width: calc(100% + 1.5rem);
    @media screen and (min-width: 720px) {
        width: initial;
        height: initial;
        margin-left: 0;
    }

    box-shadow: 0 15px 30px 10px rgb(0 0 0 / 10%);
  }

  &__header {
    padding-top: 6px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__header-mobile {
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 1.75rem;
    width: 100%;
    z-index: 1;
  }

  &__wrapper {
    min-width: 100%;
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    background: none;
    font-family: $font-family;

    & *,
    & *::before,
    & *::after {
      box-sizing: border-box;
    }

    .cico__square .#{$prefix}__month-day {
      margin: -1px 0 0 -1px;
      border: none;
      padding-right: 0;
      padding-left: 0;
      font-size: 0.75rem;
      font-weight: 500;

      &--hovering {
        &.cico__currentDay {
            &::after {
                content: '';
                width: 45px;
                height: calc(100% + 1px);
                //find a variable for this
                position: absolute;
                z-index: -1;
                display: block;
                top: -1px;
                left: -1px;
            }
        }
        > div {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-right: 0;
            background-color: var(--primary-color);
        }

        &:last-child {
            margin-bottom: 0;
        }
      }
    }

    &--booking {
      .#{$prefix}__month-day-wrapper {
        border: none;

        & .day {
          display: inline;
          text-align: right;
          padding-top: 0.75em;
          padding-right: 0.75em;
          right: 0;
          top: 0;
          transform: none;
        }
      }
      .#{$prefix}__month-day:before {
        display: none;
      }
    }
  }

  &__dummy-wrapper {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    .cico__dummy-wrapper-scroll {
        overflow: auto;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: -1rem;
        padding-bottom: 1rem;
        align-items: center;
    }

    .arrow-icon,
    .calendar-icon {
      flex: none;
    }

    .cico__dummy-wrapper-input-wrapper {
        .cico__dummy-wrapper-arrival,
        .cico__dummy-wrapper-departure {
            font-size: 1rem;
            display: none;
        }
    }

    &--no-border.#{$prefix}__dummy-wrapper {
      border: 0;
    }

    &--is-active {
      border: none
    }
  }

  &__input {
    text-align: left;
    height: auto;
    font-size: 0.875rem;
    line-height: 2;
    text-transform: uppercase;
    word-spacing: 0;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 720px) {
        font-size: 1.25rem;
    }

    @include focusStyle();

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: var(--oil);
    }

    &:first-child {
      background: none;
      //background: transparent url('../images/ic-arrow-right-datepicker.regular.svg') no-repeat right center / 8px;
      width: 50%;
    }

    &--is-active {
      color: var(--oil);
    }

    &--is-active::placeholder {
      color: var(--oil);
    }

    &--is-active::-moz-placeholder {
      color: var(--oil);
    }

    &--is-active:-ms-input-placeholder {
      color: var(--oil);
    }

    &--is-active:-moz-placeholder {
      color: var(--oil);
    }

    &--single-date:first-child {
      width: 100%;
      background: none;
      text-align: center;
    }
  }

  &__month-day-wrapper {
    height: 0;
    width: 32px;
    margin: 0 auto;
    padding-top: 32px; //fix for safari
    span.day {
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        height: auto;
        align-items: center;
        bottom: 0;
    }

    .price {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 0.75em;
    }
  }

  &__month-day {
    visibility: visible;
    text-align: center;
    color: var(--black);
    cursor: pointer;

    @include focusStyle();

    &.disabled__from-another-month {
        opacity: 0;
        pointer-events: none;
    }

    &.disabled__before-first-valid-date,
    &.disabled__after-option-end-date,
    &.disabled__day-of-the-week,
    &.disabled__not-available,
    &.disabled__is-after-max-nights,
    &.disabled__before-today {
        color: var(--neutrals-300);
        pointer-events: none;
    }

    &.disabled__not-available {
        span {
            text-decoration: line-through;
        }
    }

    &.check-in-date,
    &.check-out-date,
    &.hover__check-in-date:hover,
    &.hover__check-out-date:hover,
    &.hover__check-out-date.disabled__before-first-valid-date,
    &.hover__check-out-date.disabled__before-today,
    &.hover__check-out-date.disabled__not-available,
    &.hover__check-out-date.disabled__is-after-max-nights {
        > div {
            position: relative;
            padding-left: 0;
            color: white;

            &::after {
                content: "";
                width: 100%;
                background-color: var(--primary-color);
                height: 100%;
                border-radius: 20px;
                position: absolute;
                display: block;
                top: 0;
              }

            &::before {
                content: "";
                width: 100%;
                right: 0;
                background-color: var(--primary-color-light);
                height: 100%;
                position: absolute;
                display: block;
                top: 0;
                width: 7vw;

                @media screen and ($desktop) {
                    width: 20px;
                }
            }
        }
    }

    &.hover__check-out-date.disabled__before-first-valid-date,
    &.hover__check-out-date.disabled__before-today,
    &.hover__check-out-date.disabled__not-available,
    &.hover__check-out-date.disabled__is-after-max-nights {
        > div {
            color: var(--neutrals-300);

            &::after {
                border: 1px solid var(--primary-color-light);
                background-color: var(--white);
            }

            &::before {
                right: 16px;
            }
        }
    }

    &.check-out-date,
    &.hover__check-out-date:hover,
    &.hover__check-out-date.disabled__not-available {
        > div {
            &::before {
                right: 16px;
            }
        }

        &.check-in-date {
            > div {
                &::before {
                    left: 16px;
                    right: unset;
                }
            }
        }
    }

    &.check-in-date,
    &.hover__check-in-date:hover {
        > div {
            &::before {
                left: 16px;
            }
        }

        &.check-out-date {
            > div {
                &::before {
                    right: 16px;
                    left: unset;
                }
            }
        }
    }

    &.is-in-range {
        background-color: var(--primary-color-light);
    }
  }


  &__month-button {
    background: none;
    width: 2.5em;
    height: 2.5em;
    outline: none;
    text-align: center;
    appearance: none;
    cursor: pointer;
    border: none;
    opacity: 1;
    transition: opacity ease 0.5s;

    svg {
        path {
            stroke: var(--primary-color);
        }
    }

    &:hover {
      opacity: 0.65;
    }

    @include focusStyle();

    &--prev {
      transform: rotate(180deg)
    }

    &--next {
      float: right;
    }

    &[disabled] {
      opacity: 0.2;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  &__inner {
    padding: 1rem;
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100%;
  }

  &__months-wrapper {
    height: 100%;
    .#{$prefix}__months {
      margin-top: 0;
      height: 100%;
      .#{$prefix}__month .#{$prefix}week-name {
        font-size: 1.25em;
      }
    }
  }

  .cico__show-tooltip {
    .#{$prefix}__months {
      margin-top: 10em;
      height: calc(100% - 10em);
    }
    .#{$prefix}__tooltip--mobile {
      height: auto;
      opacity: 1;
      padding: 1em;
      visibility: visible;
    }
  }

  &__months {
    position: relative;
    flex-grow: 1;
    grid-auto-flow: column;
    flex-wrap: nowrap;
    gap: 3rem;
    display: grid;
    &::before {
        display: none;
    }

    @include device($desktop) {
      display: flex;
      flex-wrap: wrap;
      width: calc(630px - 2rem);
      justify-content: space-between;
    }

    &--full {
      .#{$prefix}__month {
        width: 100% !important;
        padding: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  &__month {
    font-size: 0.75em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__month-caption {
    height: 2.5em;
    vertical-align: middle;
  }

  &__month-name {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: capitalize;
    pointer-events: none;
    text-align: center;
    font-weight: 500;
  }

  &__week-days {
    height: 2em;
    vertical-align: middle;
  }

  &__week-row {
    margin-top: 4px;
    display: block;
    box-shadow: none;
  }

  &__week-name {
    width: calc(100% / 7);
    float: left;
    font-size: 0.875rem;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 8px;
    color: var(--tuatara);
    text-align: center;
  }

  &__close-button {
    appearance: none;
    background: transparent;
    border: 0;
    color: var(--oil);
    cursor: pointer;
    font-size: 1.3125em;
    font-weight: 700;
    margin-top: 0;
    outline: 0;
    z-index: 10000;
    position: fixed;
    right: 0.7143em;
    top: 0;
    height: 2.286em;
    line-height: 2.286em;

    i {
      display: block;
      font-style: inherit;
      transform: rotate(45deg);
    }
  }

  &__clear-button {
    appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.5625em;
    font-weight: 700;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 1em;
    text-align: right;
    display: flex;
    margin-left: 8px;
    align-items: center;
    position: relative;
    top: 1px;
    justify-content: flex-end;
    margin-left: auto;

    svg {
      fill: var(--zambezi-grey);
      stroke-linecap: round;
      stroke-width: 0.32em;
      stroke: var(--tuatara);
      width: 0.56em;

      path {
        stroke: var(--zambezi-grey);
      }
    }

    @include focusStyle();
  }
}

.-cico__is-hidden {
  display: none;
}

.cico__hide-up-to-tablet {
  @include device($up-to-tablet) {
    display: none;
  }
}

.cico__hide-on-desktop {
  @include device($desktop) {
    display: none;
  }
}

.cico__parent-bullet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;

  .cico__bullet {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4px;
    transition: opacity ease 0.3s;
    @include device($desktop) {
      top: 50%;
    }

    &.cico__checkInCheckOut,
    &.cico__checkIn,
    &.cico__checkOut {
      width: 0.5em;
      height: 1.125em;
      border-radius: 0.625em;

      &.cico__bullet--small {
        height: 0.375em;
        width: 0.875em;
      }
    }

    &.cico__checkInCheckOut {
      left: calc(50% - 1em);
    }
  }

  .cico__pipe {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    transition: opacity ease 0.3s;
    @include device($desktop) {
      top: 50%;
    }

    &.pipe--small {
      height: calc(#{4px} * 0.75);
    }

    &.cico__checkIn {
      left: calc(50% + #{4px});
      width: calc(50% - #{4px});
    }

    &.cico__checkOut {
      left: 0px;
      width: calc(50% - #{4px});
    }

    &.cico__checkInCheckOut {
      width: calc(50% - 1.1875rem);
    }
  }
}
