@import './variables';
@import './landing';
@import './search';
@import './mobile';

@mixin focusStyle() {
  &:focus {
    outline: none;
  }
}

@mixin device($device-widths) {
  @media screen and #{$device-widths} {
    @content;
  }
}

/* =============================================================
* BASE STYLES
* ============================================================*/
.cico__wrapper {
  min-width: 100%;
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
  background: none;
  font-family: $font-family;

  button {
    all: unset;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }

  button.cico__close-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    cursor: pointer;
    outline: 0;

    svg {
      width: 20px;
      height: 20px;
      stroke-width: 0.5rem;
      z-index: 9;

      path {
        stroke: white;
      }
    }
  }

  button.cico__input {
    text-align: left;
    height: auto;
    transition: all 0.2s cubic-bezier(0.4, 0.2, 0, 1);
    font-size: 0.875rem;
    line-height: 2;
    text-transform: uppercase;
    word-spacing: 0;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 720px) {
      font-size: 1.25rem;
    }

    @include focusStyle();

    &:first-child {
      background: none;
      width: 50%;
    }

    &--single-date:first-child {
      width: 100%;
      background: none;
      text-align: center;
    }
  }

  button.cico__clear-button {
    appearance: none;

    background: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    position: relative;
    top: 1px;
    justify-content: flex-end;
    margin-left: auto;

    svg {
      fill: var(--zambezi-grey);
      width: 13px;
      stroke-linecap: round;
      stroke-width: 6px;
      stroke: var(--tuatara);

      path {
        stroke: var(--zambezi-grey);
      }
    }

    @include focusStyle();
  }

  .cico__inner {
    .cico__month-name {
      font-size: 15px;
      font-weight: 700;
      margin: 0;
      padding-top: 16px;
      padding-bottom: 16px;
      text-transform: capitalize;
      pointer-events: none;
      text-align: center;
      font-weight: 500;
    }

    .cico__header {
      padding-top: 3px;
      text-align: left;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cico__month-button {
        background: none;
        width: 2.5em;
        height: 2.5em;
        outline: none;
        text-align: center;
        appearance: none;
        cursor: pointer;
        border: none;
        opacity: 1;
        transition: opacity ease 0.5s;

        &.disabled {
          pointer-events: none;
        }

        svg {
          path {
            stroke: var(--primary-color);
          }
        }

        &:hover {
          opacity: 0.65;
        }

        @include focusStyle();

        &.cico__month-button--prev {
          transform: rotate(180deg);
        }

        &[disabled] {
          opacity: 0.2;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
  }

  & *,
  & *::before,
  & *::after {
    box-sizing: border-box;
  }

  .cico__square .#{$prefix}__month-day {
    margin: -1px 0 0 -1px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    margin-top: -5px;
    margin-bottom: -5px;
    padding-right: 0;
    padding-left: 0;
    font-size: 0.75rem;
    font-weight: 500;

    &--hovering {
      &.cico__currentDay {
        &::after {
          content: '';
          width: 45px;
          height: calc(100% + 1px);
          //find a variable for this
          position: absolute;
          z-index: -1;
          display: block;
          top: -1px;
          left: -1px;
        }
      }
      > div {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-right: 0;
        background-color: var(--primary-color);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--booking {
    .#{$prefix}__month-day-wrapper {
      border: none;

      & .day {
        display: inline;
        text-align: right;
        padding-top: 0.75em;
        padding-right: 0.75em;
        right: 0;
        top: 0;
        transform: none;
      }
    }
    .#{$prefix}__month-day:before {
      display: none;
    }
  }
}

.#{$prefix} {
  position: absolute;
  color: var(--zambezi-grey);
  border-radius: 10px;
  top: 140%;
  display: flex;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  flex-direction: column;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  font-size: 1rem;
  line-height: 0.875em;
  height: 100%;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 400px;

    &--closed {
      &.bottom {
        transform: translateY(-2%);
      }

      &.top {
        bottom: 100%;
        transform: translateY(2%);
        top: unset;
      }

      &.right {
        left: 100%;
        margin-left: 2rem;
        transform: translateX(-3%);
        bottom: unset;
        top: -160px;
      }

      &.left {
        right: 100%;
        transform: translateX(3%);
        margin-right: 2rem;
        bottom: unset;
        top: -160px;
      }
    }

    &--open {
      &.bottom {
        transform: 0;
        top: 140%;
      }

      &.top {
        transform: 0;
        bottom: 140%;
        top: unset;
      }

      &.right {
        left: 100%;
        transform: 0;
        margin-left: 2rem;
        bottom: unset;
        top: -160px;
      }

      &.left {
        right: 100%;
        transform: 0;
        margin-right: 2rem;
        bottom: unset;
        top: -160px;
      }
    }
  }

  button {
    background-color: var(--white);

    &.primary {
      color: var(--white);
      background-color: var(--primary-color);
    }
  }

  &__cta-panel {
    order: -1;
    text-align: center;
    border-bottom: 1px solid var(--light-gray);
  }
  &__cta-info {
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__cta-panel-title {
    font-size: 18px;
    margin-bottom: 0.75rem;
    font-weight: 500;
    color: var(--eerie-black);

    &.desktop {
      @media screen and ($up-to-tablet) {
        display: none;
      }

      display: block;
    }

    &.mobile {
      @media screen and ($desktop) {
        display: none;
      }

      display: block;
    }
  }
  &__checkin,
  &__checkout {
    text-transform: capitalize;
  }
  &__nights-info {
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 400;
  }
  &__nights {
    font-size: 0.875rem;
  }
  &__travel-dates {
    white-space: nowrap;
    font-size: 0.75rem;
  }
  &__extra-nights {
    font-weight: 600;
    color: var(--primary-color);
  }
  &__warning-container {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      font-size: 0.75rem;
      text-align: left;
      line-height: 1;
      margin-top: 0.5rem;
    }
  }

  &__nights-warning {
    color: #e5605f;
    transform: rotate(180deg);
    margin-right: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.25rem;
  }

  &--right {
    right: 0;
  }

  .cico__square-wrapper {
    display: grid;
    flex-grow: 1;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  & .cico__square {
    display: grid;
    align-items: center;
    position: relative;
  }

  button.next--mobile {
    border: 1px solid var(--light-gray);
    float: none;
    height: 3.125em;
    width: 100%;
    position: relative;
    appearance: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    outline: none;
    box-shadow: 0 15px 30px 10px rgb(0 0 0 / 10%);
    background: var(--white);

    &:after {
      background: none;
      //background: transparent url('../images/ic-arrow-right-green.regular.svg') no-repeat center / 8px;
      transform: rotate(90deg);
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: -50%;
      left: -50%;
    }
  }

  &--closed {
    box-shadow: none;
    opacity: 0;
    pointer-events: none;
  }

  &--open {
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0 15px 30px 10px rgb(0 0 0 / 10%);
  }

  &__header-mobile {
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 1.75rem;
    width: 100%;
    z-index: 1;
  }

  &__dummy-wrapper {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    .cico__dummy-wrapper-scroll {
      overflow: auto;
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: -1rem;
      padding-bottom: 1rem;
      align-items: center;
    }

    .arrow-icon,
    .calendar-icon {
      flex: none;
    }

    .cico__dummy-wrapper-input-wrapper {
      .cico__dummy-wrapper-arrival,
      .cico__dummy-wrapper-departure {
        font-size: 1rem;
        display: none;
      }
    }

    &--no-border.#{$prefix}__dummy-wrapper {
      border: 0;
    }

    &--is-active {
      border: none;
    }
  }

  &__month-day-wrapper {
    height: 0;
    width: 32px;
    margin: 0 auto;
    padding-top: 32px; //fix for safari
    span.day {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      height: auto;
      align-items: center;
      bottom: 0;
    }

    .price {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 0.75em;
    }
  }

  &__month-day {
    visibility: visible;
    text-align: center;
    color: var(--black);
    cursor: pointer;

    @include focusStyle();

    > div {
      position: relative;
      &::after {
        content: '';
        width: 100%;
        background-color: transparent;
        height: 100%;
        border-radius: 20px;
        position: absolute;
        display: block;
        top: 0;
      }

      &::before {
        content: '';
        width: 100%;
        right: 0;
        height: 100%;
        position: absolute;
        display: block;
        background-color: transparent;
        top: 0;
        width: 7vw;

        @media screen and ($desktop) {
          width: 20px;
        }
      }
    }

    &.disabled__from-another-month {
      opacity: 0;
      height: 0;
      pointer-events: none;
    }

    &.disabled__before-first-valid-date,
    &.disabled__after-option-end-date,
    &.disabled__day-of-the-week,
    &.disabled__not-available,
    &.disabled__is-after-max-nights,
    &.disabled__before-min-date {
      color: var(--neutrals-300);
      pointer-events: none;
    }

    &.disabled__not-available {
      span {
        text-decoration: line-through;
      }
    }

    &.check-in-date:not(.selection__check-in-date),
    &.check-out-date {
      &.hover__check-in-date:hover > div,
      &.hover__check-out-date:hover > div,
      > div {
        &::before {
          background-color: var(--primary-color);
        }
      }
    }

    &.check-in-date.selection__check-in-date {
      > div {
        &::before {
          background-color: var(--primary-color-light);
        }
      }
    }

    &.hover__check-in-date:hover,
    &.hover__check-out-date:hover {
      > div {
        position: relative;
        padding-left: 0;

        &::after {
          content: '';
          width: 100%;
          background-color: white;
          height: 100%;
          border-radius: 20px;
          position: absolute;
          display: block;
          top: 0;
        }

        &::before {
          content: '';
          width: 100%;
          right: 0;
          height: 100%;
          position: absolute;
          display: block;
          top: 0;
          width: 7vw;

          @media screen and ($desktop) {
            width: 20px;
          }
        }
      }
    }

    &.hover__check-in-date:hover,
    &.hover__check-out-date:hover,
    &.hover__check-out-date.check-out-date:hover &.hover__check-in-date.check-in-date:hover {
      span {
        color: var(--oil);
      }

      > div {
        &::after {
          border: 1px solid var(--primary-color);
        }
      }
    }

    &.hover__check-in-date:hover {
      > div {
        &::before {
          left: 16px;
        }
      }

      &.check-out-date {
        > div {
          &::before {
            right: 16px;
            left: unset;
          }
        }
      }
    }

    @media screen and ($desktop) {
      &.hover__check-out-date.disabled__before-first-valid-date,
      &.hover__check-out-date.disabled__before-min-date,
      &.hover__check-out-date.disabled__not-available,
      &.hover__check-out-date.disabled__is-after-max-nights {
        > div {
          position: relative;
          padding-left: 0;
          color: white;

          &::after {
            content: '';
            width: 100%;
            background-color: var(--primary-color);
            height: 100%;
            border-radius: 20px;
            position: absolute;
            display: block;
            top: 0;
          }

          &::before {
            content: '';
            width: 100%;
            right: 0;
            height: 100%;
            position: absolute;
            display: block;
            top: 0;
            width: 7vw;

            @media screen and ($desktop) {
              width: 20px;
            }
          }
        }
      }

      &.hover__check-in-date.is-in-range:hover,
      &.hover__check-out-date.is-in-range:hover {
        &.hover__check-in-date:hover > div,
        &.hover__check-out-date:hover > div,
        > div {
          &::before {
            background-color: var(--primary-color);
          }
        }
      }

      &.hover__check-out-date.disabled__before-first-valid-date,
      &.hover__check-out-date.disabled__before-min-date,
      &.hover__check-out-date.disabled__not-available,
      &.hover__check-out-date.disabled__is-after-max-nights {
        > div {
          color: var(--neutrals-300);

          &::after {
            border: 1px solid var(--primary-color-light);
            background-color: var(--white);
          }

          &::before {
            right: 16px;
          }
        }
      }

      &.hover__check-out-date.hover__is-before-check-in {
        > div {
          &::before {
            display: none;
          }
        }
      }

      &.hover__check-out-date:hover,
      &.hover__check-out-date.disabled__not-available {
        > div {
          &::before {
            right: 16px;
          }
        }

        &.check-in-date {
          > div {
            &::before {
              left: 16px;
              right: unset;
            }
          }
        }
      }

      &.hover__check-out-date:hover,
      &.hover__check-out-date.disabled__before-first-valid-date,
      &.hover__check-out-date.disabled__before-min-date,
      &.hover__check-out-date.disabled__not-available,
      &.hover__check-out-date.disabled__is-after-max-nights {
        > div {
          &::before {
            background-color: var(--primary-color-light);
          }
        }
      }

      &.hover__is-in-range {
        background-color: var(--primary-color-light);
      }
    }

    &.check-in-date,
    &.check-out-date {
      > div {
        position: relative;
        padding-left: 0;
        color: white;

        &::after {
          content: '';
          width: 100%;
          background-color: var(--primary-color);
          height: 100%;
          border-radius: 20px;
          position: absolute;
          display: block;
          top: 0;
        }

        &::before {
          content: '';
          width: 100%;
          right: 0;
          height: 100%;
          position: absolute;
          display: block;
          top: 0;
          width: 7vw;

          @media screen and ($desktop) {
            width: 20px;
          }
        }
      }
    }

    &.check-out-date {
      > div {
        &::before {
          right: 16px;
        }
      }

      &.check-in-date {
        > div {
          &::before {
            left: 16px;
            right: unset;
          }
        }
      }
    }

    &.check-in-date {
      > div {
        &::before {
          left: 16px;
        }
      }

      &.check-out-date {
        > div {
          &::before {
            right: 16px;
            left: unset;
          }
        }
      }
    }

    &.is-in-range {
      background-color: var(--primary-color);
      color: white;
    }
  }

  &__inner {
    padding: 1rem;
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100%;
  }

  &__months-wrapper {
    height: 100%;
    .#{$prefix}__months {
      margin-top: 0;
      height: 100%;
      .#{$prefix}__month .#{$prefix}week-name {
        font-size: 1.25em;
      }
    }
  }

  .cico__show-tooltip {
    .#{$prefix}__months {
      margin-top: 10em;
      height: calc(100% - 10em);
    }
    .#{$prefix}__tooltip--mobile {
      height: auto;
      opacity: 1;
      padding: 1em;
      visibility: visible;
    }
  }

  &__months {
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    &::before {
      display: none;
    }

    @media screen and ($desktop) {
      width: calc(630px - 2rem);
    }

    &--full {
      .#{$prefix}__month {
        width: 100% !important;
        padding: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  &__months-wrapper {
    flex-grow: 1;
    grid-auto-flow: row;
    flex-wrap: nowrap;
    gap: 3rem;
    display: grid;
    &::before {
      display: none;
    }

    @media screen and ($desktop) {
      transform: translateX(calc((-100% - 3rem) / 2));
      grid-auto-flow: column;
    }
  }

  &__month {
    font-size: 0.75em;
    width: calc((630px - 5rem) / 2);
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &.enter-next-animation {
      transition: all 0.4s cubic-bezier(0.4, 0.2, 0, 1);
      transform: translateX(calc(-100% - 3rem));
    }

    &.enter-previous-animation {
      transition: all 0.4s cubic-bezier(0.4, 0.2, 0, 1);
      transform: translateX(calc(100% + 3rem));
    }
  }

  &__month-caption {
    height: 2.5em;
    vertical-align: middle;
  }

  &__week-days {
    height: 2em;
    vertical-align: middle;
  }

  &__week-row {
    margin-top: 4px;
    display: block;
    box-shadow: none;
  }

  &__week-name {
    width: calc(100% / 7);
    float: left;
    font-size: 0.875rem;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 8px;
    color: var(--tuatara);
    text-align: center;
  }
}
