@sbx:registry=https://gitlab.production.smartbox.com/api/v4/projects/1843/packages/npm/
//gitlab.production.smartbox.com/api/v4/projects/1843/packages/npm/:_authToken=6uKz44r39xyFa4NzrpU8
shamefully-hoist=true